/* Set background colors */
body {
    background-color: #D1ACFF;
  }
  
  .navbar {
    background-color: #8000FF;
    color: white;
  }
  
  /* Style the active page */
  .navbar .active {
    text-decoration: underline;
  }
  
  /* Style the search bar */
  .search-bar {
    background-color: black;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    margin-top: 10px;
  }
  
  /* Center player titles */
  .player-title {
    text-align: center;
    text-decoration: underline;
  }
  
  /* Style the category table */
  .category-table {
    display: table;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .category-table th,
  .category-table td {
    padding: 10px;
    text-align: center;
  }
  
  .category-table th {
    background-color: #8000FF;
    color: white;
  }
  
  .category-table td:nth-child(2) {
    text-align: left;
  }
  
  /* Style the category rows */
  .category-row td:first-child,
  .category-row td:last-child {
    width: 30%;
  }
  
  .category-row td:nth-child(2) {
    width: 40%;
    font-weight: bold;
  }
  
  /* Style odd rows */
  .category-row:nth-child(odd) {
    background-color: #F5F5F5;
  }
  