<!DOCTYPE html>
<html>

<head>
  <title>Fantasy Football Comparison</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles/comparison.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-purple">
    <a class="navbar-brand" href="{{url_for('search')}}">Fantasy Football Comparison</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('search')}}">Compare <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('history')}}">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container text-center">
      <h2>{{ p1_dict["name"] }} vs {{ p2_dict["name"] }}</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>{{ p1_dict["points"] }}</td>
            <td>Points</td>
            <td>{{ p2_dict["points"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["passing_yards"] }}</td>
            <td>Passing Yards</td>
            <td>{{ p2_dict["passing_yards"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["passing_tds"] }}</td>
            <td>Passing TDs</td>
            <td>{{ p2_dict["passing_yards"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["interceptions"] }}</td>
            <td>Interceptions</td>
            <td>{{ p2_dict["interceptions"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["sacks"] }}</td>
            <td>Sacks</td>
            <td>{{ p2_dict["sacks"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["rushing_yards"] }}</td>
            <td>Rushing Yards</td>
            <td>{{ p2_dict["rushing_yards"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["rushing_tds"] }}</td>
            <td>Rushing TDs</td>
            <td>{{ p2_dict["rushing_tds"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["receptions"] }}</td>
            <td>Receptions</td>
            <td>{{ p2_dict["receptions"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["recieving_yards"] }}</td>
            <td>Receiving Yards</td>
            <td>{{ p2_dict["recieving_yards"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["recieving_tds"] }}</td>
            <td>Receiving TDs</td>
            <td>{{ p2_dict["recieving_tds"] }}</td>
          </tr>
          <tr>
            <td>{{ p1_dict["fumbles"] }}</td>
            <td>Fumbles</td>
            <td>{{ p2_dict["fumbles"] }}</td>
          </tr>
        </tbody>
    <!-- Your Content ABOVE this Line -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>