<!DOCTYPE html>
<html>

<head>
  <title>Fantasy Football Comparison</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles/comparison.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-purple">
    <a class="navbar-brand" href="comparison.html">Fantasy Football Comparison</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="comparison.html">Compare <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="history.html">History</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon">
        </div>
      </form>
    </div>
  </nav>
  <div class="container text-center">
      <h2>Player One</h2>
      <h4>Position - Team</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>0</td>
            <td>Points</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Passing Yards</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Passing TDs</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Interceptions</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Sacks</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Passing 2-pt Conversions</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Rushing Yards</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Rushing TDs</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Rushing 2-pt Conversions</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Receptions</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Receiving Yards</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Receiving TDs</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Receiving 2-pt Conversions</td>
            <td>0</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Fumbles</td>
            <td>0</td>
          </tr>
        </tbody>
    <!-- Your Content ABOVE this Line -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>