<!DOCTYPE html>
<html>
<head>
	<title>Compare Players</title>
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Custom CSS -->
    <link rel="stylesheet" href="../static/styles/search.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-purple">
        <a class="navbar-brand" href="{{url_for('search')}}">Fantasy Football Comparison</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('search')}}">Compare <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('history')}}">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              </li>
          </ul>
        </div>
      </nav>
    <div class="container">
		<h1>Pick 2 Players to compare:</h1>
        <form method= "POST" class="input-group">
            <input type="text" name="player1" placeholder="Player 1">
            <input type="text" name="player2" placeholder="Player 2">
            <button type="submit" class="btn btn-search">Search</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
	</div>
	<!-- Include Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src
